<%= render 'shared/page_title',title: @recipe.name %>
<div class="row">
    <div class= "col-md-4 pull-right center">
        <%= gravatar_for @recipe.chef,size: 200 %>
        <p>
            <h4>Brought to you by : <%= @recipe.chef.chefname %> </h4>
        </p>
    </div>
    <div class ="col-md-8">
        <%= link_to "Edit this recipe",edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
        <h3><%= @recipe.summary %></h3>
        <div class="show_recipe">
            <%= image_tag(@recipe.picture.url,class: "gravatar") if @recipe.picture? %>
        </div>
        <div class="well">
            <p>
                <strong>Steps:</strong>
            </p>
            <%= simple_format(@recipe.description) %>
            <div class="pull-right">
                <%=link_to "" do %>
                  <i class="glyphicon glyphicon-thumbs-up"></i>
                <%end%>&nbsp&nbsp&nbsp&nbsp
                <%=link_to "" do %>
                  <i class="glyphicon glyphicon-thumbs-down"></i>
                <%end%>
            </div>
        </div>
    </div>
</div>

<h5> <%= link_to "Back to All Recipes", recipes_path, class: "btn btn-small btn-warning" %></h5>